/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6em;
    color: #333;
}

/* Header */
header {
    background: #f4f4f4;
    padding: 20px;
}

/* Main */
main {
    padding: 20px;
}

/* Footer */
footer {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
}